.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}

.container > h1 {
  margin-top: 0;
  color: #a4cccb;
}

.container > p {
  margin-top: 0;
  font-weight: 300;
  /* color: #a4cccb; */
}

.container > button {
  background-color: white;
  border: none;
  width: 155px;
  text-align: start;
  font-size: 1em;
  font-weight: 300;
  padding: 0;
  margin-bottom: 18px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > div,
.form > input,
.form > textarea {
  margin-bottom: 15px;
}

.form > div > input,
.form > input {
  height: 42px;
}
.form > div > input,
.form > input,
.form > textarea {
  border: none;
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.form > div > input:hover,
.form > input:hover,
.form > textarea:hover {
  border: 1px solid black;
}

.form > div > input::placeholder,
.form > input::placeholder,
.form > textarea::placeholder {
  color: black;
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: 300;
}

.form > textarea {
  padding-top: 10px;
  height: 126px;
}
.form > textarea::placeholder {
  /* padding-top: 10px; */
  /* font-size: 1em; */
}

.form > div {
  display: flex;
  justify-content: space-between;
}

.form > div > input {
  width: 48%;
}

.form > button {
  height: 50px;
  background-color: #3c6968;
  color: white;
  border: none;
}

.form > button:hover {
  background-color: #747474;
}

@media only screen and (max-width: 764px) {
  .container {
    padding: 0 15px;
  }

  .form {
    margin-bottom: 20px;
  }

  .form > div {
    flex-direction: column;
  }

  .form > div > input {
    width: 100%;
  }
}
