.container > h1 {
  width: 100%;
  background-color: #f7de7a;
  color: white;
  padding: 10px 0;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.packagesContainer {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.packageContainer {
  position: relative;
  padding: 0 20px;
  height: 500px;
}

.packageName,
.packagePrice,
.packageTaxAndService {
  color: #a4cccb;
  font-weight: 500;
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
}

.packageName {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.4rem;
}

.packageIncluded {
  text-align: start;
  padding: 0;
  color: #837d7b;
  font-weight: 600;
  word-spacing: 0.2rem;
}

.packageIncluded > li {
  margin: 8px 0;
}

.packageBottonInfo {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.packagePrice {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
}

.packageTaxAndService {
  margin: 0;
  font-size: 0.9rem;
  word-spacing: 0;
}

@media (max-width: 700px) {
  .packagesContainer {
    flex-direction: column;
  }

  .packageContainer {
    box-shadow: 0 4px 2px -2px gray;
  }

  .packageIncluded {
    padding-left: calc(100% / 10);
  }
}
