.container {
  display: flex;
  flex-direction: column;
  background-color: #a5cece;
  align-items: center;
  /* border: 1px solid red; */
}

.package {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packageMainImage {
  position: relative;
  width: 80%;
}

.subContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.subPackage {
  position: relative;
  width: 300px;
  height: 900px;
  /* border: 1px solid pink; */
  background-color: #f0d80c;
  text-align: center;
}

.subPackageImage {
  position: relative;
  width: 300px;
  height: 300px;
  border: 5px solid #ffffff;
}

.subPackageBody,
.subPackageBody_Plus {
  padding: 0 15px;
}

.subPackageBody > h3,
.subPackageBody_Plus > h3 {
  color: #ffffff;
  font-weight: 800;
  font-size: 2.5em;
  /* margin: 0; */
}

.subPackageTitle {
  margin: 10px 0px 30px;
}

.subPackageBody > ul,
.subPackageBody_Plus > ul {
  color: #a49572;
  list-style: none;
  padding: 0;
}
.subPackageBody > ul > li {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.subPackagePrice {
  position: absolute;
  left: 97px;
  bottom: 20px;
  margin: 0;
}

.subPackageBody_Plus > ul > li {
  font-size: 1.4em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 767px) {
  .packageMainImage {
    width: 100%;
  }
  .subContainer {
    flex-direction: column;
  }

  .subPackage {
    width: 100%;
  }

  .subPackageImage {
    width: 100%;
  }

  .subPackagePrice {
    left: 35%;
  }
}
