.events {
  text-align: center;
}

.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms > h2 {
  columns: #213a3b;
  margin-bottom: 5px;
}

.terms > p {
  margin: 0;
}

.terms > p,
.terms > ul {
  font-weight: 300;
}
