.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  /* border: 1px solid red; */
}

.list {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.listItem {
  position: relative;
  background-color: #ededed;
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  margin: 10px 0;
}

.listItem > h3 {
  color: #3c6968;
  font-weight: 800;
}

.listItem > a {
  position: absolute;
  background-color: #3c6968;
  color: white;
  border: 1px solid darkblue;
  border-radius: 8px;
  padding: 10px 15px;
  bottom: 20px;
}

.listItem_firstP {
  min-height: 150px;
}

@media only screen and (max-width: 1024px) {
  .list {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .content3 > div > h2 {
    display: none;
  }

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .list > div {
    height: 600px;
    width: 100%;
  }

  .listItem {
    background-color: white;
    box-shadow: -1px 0.5px 5px grey;
    margin: 5px 0;
    text-align: start;
  }

  .listItem_firstP {
    margin: 5px 30px;
    min-height: 0;
  }

  .listItem > a {
    width: 80%;
    text-align: center;
  }
}
