.container {
  position: relative;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid orange; */
}

@media only screen and (max-width: 764px) {
  .container {
    height: 100%;
    width: 100%;
  }
}
