.nav {
  padding: 10px;
  background: #ffffff;
  margin-bottom: 10px;
  color: #427675;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 310px;
  height: 181px;
}

.mobileBarMenu {
  display: none;
}

.mobileBarMenu > svg {
  font-size: 30px;
}

.regularMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.regularMenu > li > a {
  margin: 5px 15px;
}

@media only screen and (max-width: 768px) {
  /* @media only screen and (max-width: 1024px) { */
  .nav {
    justify-content: space-between;
  }

  .logo {
    margin-left: 10px;
    width: 170px;
    height: 100px;
  }

  .mobileBarMenu {
    display: inline-block;
    margin-right: 30px;
  }

  .regularMenu {
    display: none;
  }
}
